.form-field {
	margin: 0 0 2rem;

	span {
		display: block;
		font-weight: bold;
	}

	input {
		appearance: none;
		padding: 0.5rem 0;
		width: 100%;
		background: none;
		border: 0;
		border-bottom: 2px solid currentColor;
		outline: 0;
		color: inherit;
		font: inherit;
	}
}

.result {
	display: table;
	margin-left: auto;

	p {
		display: table-row;
	}

	span,
	strong {
		display: table-cell;
	}

	span {
		padding-left: 5px;
		text-align: left;
	}

	strong {
		font-size: 1.5rem;
		text-align: right;
	}
}
