$font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;

$color-brand: #ffe474;
$color-text: #252525;
$color-light: #fff;

html {
	box-sizing: border-box;
	font-family: $font-family;
	font-size: 16px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 3rem 1rem;
	background-color: $color-brand;
	color: $color-text;
	font-weight: normal;
}

.app {
	margin: 0 auto;
	max-width: 640px;
}

h1 {
	margin: 0 0 2rem;
	color: $color-light;
	font-size: 4rem;
	line-height: 1.2;
}

.form-field {
	margin: 0 0 2rem;

	span {
		display: block;
		font-weight: bold;
	}

	input {
		padding: 0.5rem 0;
		width: 100%;
		background: none;
		border: 0;
		border-bottom: 2px solid currentColor;
		outline: 0;
		color: inherit;
		font: inherit;
	}
}

.result {
	strong {
		font-size: 1.5rem;
	}

	> span {
		display: block;
	}
}

::placeholder {
	opacity: 1;
	color: inherit;
	font-style: italic;
}
